{% extends 'layout.html' %}

{% block tlmp %}
    <div class="container">

        <div class="panel panel-default">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    新增类别
                </div>
                <!-- novalidate 取消浏览器验证-->
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for obj in form %}
                        <div>
                            <label>{{ obj.label }}</label>{{ obj }}
                            <span style="color: red;"> {{ obj.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">提 交</button>
                </form>
            </div>
        </div>

    </div>


{% endblock %}
